[Unit]
Description=Backend a02 Python service
After=network.target

[Service]
Type=simple
WorkingDirectory=/a02/backend
User=a02
ExecStart=/usr/local/bin/gunicorn wsgi:app -b 0.0.0.0:5000
Restart=always

[Install]
WantedBy=multi-user.target