[Unit]
Description=Backend a03 Python service
After=network.target

[Service]
Type=simple
WorkingDirectory=/a03/backend
User=a03
ExecStart=/usr/local/bin/gunicorn wsgi:app -b 0.0.0.0:5000
Restart=always

[Install]
WantedBy=multi-user.target